  <div class="row">
    <div class="col-xs-4">
      <label>Action:</label>
    </div>
    <div class="col-xs-8">
      <p-dropdown [options]="operations" [style]="{'width':'100%'}" placeholder="Select a action" [(ngModel)]="Selname3" autoWidth="false"></p-dropdown>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-4">
        <label *ngIf='StepM.action != "Click"'>EnterValue:</label>
      </div>
      <div class="col-xs-8">
        <input type="text" *ngIf='StepM.action != "Click"' name="operatevalue" class="form-control" placeholder="enter the value" [(ngModel)]="StepM.enterValue">
      </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
          <label>Wait:</label>
        </div>
        <div class="col-xs-8">
          <input type="text" name="Waitvalue" placeholder="Wait..." class="form-control" [(ngModel)]="StepM.wait">
        </div>
      </div>
  <div class="row">
    <div class="col-xs-4">
      <label>Type:</label>
    </div>
    <div class="col-xs-8">
      <p-dropdown #dd [options]="selectItem" placeholder="Select a type" [style]="{'width':'100%'}" autoWidth="false" [(ngModel)]="Selname" (onChange)="Selectonchange(dd)"></p-dropdown>
    </div>
  </div>
 
    <div class="row">
    <div class="col-xs-4">
      <label>EnterValue:</label>
    </div>
    <div class="col-xs-8">
      <input type="text" name="selectorvalue" placeholder="enter the value" class="form-control" [(ngModel)]="StepM.typePath">
    </div>
  </div>
    <div class="row">
    <div class="col-xs-4">
      <div *ngIf="selectedItem2">
        <label>Tag:</label>
      </div>
    </div>
    <div class="col-xs-8">
      <div *ngIf="selectedItem2">
        <p-dropdown [options]="selectedItem2" [style]="{'width':'100%'}" [(ngModel)]="Selname2" placeholder="Select a tag"></p-dropdown>
      </div>
    </div>
  </div>
  <div class="row">
      <button type="button" class="btn btn-success" (click)="addnew()">Save</button>
      <button type="button" class="btn btn-warning" (click)="closeStep()">Cancel</button>
    </div>