#rooturlid, #userid, #passwordid, #projectnameid, #projectdescriptionid {
  width: 300px;
}

.scenariodetail {
  margin: 15px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
}

.scenariodetail ul {
  margin-left: 0px;
  padding-left: 10px;
}

.scenariodetail li {
  list-style-type: none;
}
