<!--The content below is only a placeholder and can be replaced.-->
<nav class="layout-head">
  <!-- <a class="menu-button" href="#">
      <i class="fa fa-bars"></i>
  </a> -->
  <div class="row">
    <div class="col-xs-9">
      <img src="../assets/Accenture_Logo.png" class="imageCss" alt="Loading">
    </div>
    <div class="col-xs-1 menus-link">
        <a routerLink="/home">Home</a>
    </div>
    <div class="col-xs-2 menus-link">
        <a routerLink="/extension">Extension</a>
    </div>
  </div>
</nav>
<!-- <nav class="layout-foot">
<a routerLink="/home" routerLinkActive="active" class="col-xs-6">Home</a>
<a routerLink="/extension" routerLinkActive="active" class="col-xs-6">Extension</a>
</nav> -->
<div class="layout-content">
<router-outlet></router-outlet>
</div>
