<div class="home col-xs-3">
    <div class="row btnRow">
        <button type="button" class="btn btn-default new-project btncss btn-primary" (click)='newProject()'>Create Project</button>
      </div>
      <div class="row btnRow">
        <button type="button" class="btn btn-default export-project btncss btn-primary" (click)='exportSelectProject()'>Export select Project</button>
      </div>
      <div class="row btnRow">
        <button type="button" class="btn btn-default run-project btncss btn-primary" (click)='runSelectProject()'>Run select Project</button>
      </div>
      <div class="row btnRow">
        <button type="button" class="btn btn-default run-project btncss btn-primary" (click)='TestDynamoDB()'>Test Dynamo DB</button>
      </div>
      <div class="row btnRow">
        <button type="button" class="btn btn-default run-project btncss btn-primary" (click)='TestDynamoDB()'>Insert Dynamo DB</button>
      </div>
      <div class="row btnRow">
          <button type="button" class="btn btn-default run-project btncss btn-primary" (click)='UploadProject()'>Upload file</button>
        </div>
</div>
  <!-- /input-group -->
  <div class="col-xs-9">
      <div class="row hidden">
          <input type="text" class="form-control" placeholder="Search for project...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
        <div class="row hidden UploadCssRow" id="UploadRow">
            <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload>

        </div>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
              <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
              <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
            </p-footer>
          </p-confirmDialog>
        <div class="row ContentRow">
            <a id='testcasefile' href="#" hidden="hidden"></a>
            <div class="project ViewListCss col-xs-6 caseinfo" *ngFor='let project of projects'>
              <span>
                    <input type="checkbox" aria-label="...">
                </span>
                <div class="row liRowCss">
                    <ul>
                        Base Url:<a href="project.base_url">{{project.base_url}}</a><br/>
                        Project Name:<span>{{project.project_name}}</span> <br/>
                        Description:<span>{{project.project_description}}</span><br/>
                        Scenario Count:<span>{{project.scenario_count}}</span><br/>
                      </ul>
                  </div>
                  <div class="row liRowCss">
                      <button class="btn btn-success" (click)='editProject(project)'>Edit</button>
                      <button class="btn btn-info" (click)='viewProject(project)'>View</button>
                      <button class="btn btn-warning" (click)='removeProject(project)'>Delete</button>
                  </div>
            </div>
        </div>
  </div>
