.Primarydialog{
    width:80%;
  }
  .row{
    /* border:1px solid #e5e5e5;  */
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px
  }
  .formRow{
    padding-bottom: 4%;
  }
  .caseinfo{
    margin: 15px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    /* background-color: #ffffff; */
    padding: 15px;
  }
  .ViewListCss{
    margin-top: 1%;
    width: 30%;
    margin-left: 1%;
    background-color: beige;
  }
  .liRowCss{
    /* float:right; */
    margin-left: -8%;
  }
  .ContentRow{
    width: 110%;
    margin-left: -3%;
    margin-top: -1%;
    /* word-wrap:break-word; 
    word-break:break-all;  */
  }